.task-manager-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-family: sans-serif;
}

.cards-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	margin-top: 20px;
}

.card-item {
	padding: 15px;
	border: 1px solid #aaa;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
}

.card-item:hover {
	background-color: gray
}

.delete-card-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	color: red;
	border: none;
	background: none;
	cursor: pointer;
}

.card-form input, .back-btn {
	padding: 8px;
	margin-right: 10px;
}

.loading-state {
	padding: 40px;
	text-align: center;
	font-size: 18px;
}
