.item {
    cursor: pointer;
    padding: 6px 0;
    list-style-type: none;
}

.link {
    color: #000000;
    font-weight: 500;
    transition: color 0.2s ease;
}

.item:hover .link {
    color: blue;
    text-decoration: underline;
}