.task-list-item {
  cursor: pointer;
  padding: 6px 0;
  list-style-type: none;
}

.task-list-link {
  color: #000000;
  transition: color 0.2s ease;
}

.task-list-item:hover .task-list-link {
  color: blue;
  text-decoration: underline;
}
